@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  background-color: #fdfeff;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
}

.link {
  font-size: 24px;
}

#task_name {
  font-weight: bold;
}

.ui-draggable,
.ui-droppable {
  background-position: top;
}

.category-list > div {
  margin-bottom: 10px;
}

.circle {
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 50%;
}

.category-title {
  font-weight: 700;
}

.work {
  background-color: #d2ceff;
}

.study {
  background-color: #d1e5f7;
}

.entertainment {
  background-color: #ffcece;
}

.personal {
  background-color: #daf2d6;
}

.deadlines {
  background-color: #f38181;
}

.home {
  background-color: #609966;
}

.health {
  background-color: #3282b8;
}

.finance {
  background-color: #fce38a;
}

.errands {
  background-color: #c9d6df;
}

.social {
  background-color: #142850;
}

.project {
  background-color: #bbe1fa;
}

.communication {
  background-color: #ea906c;
}

.hobbies {
  background-color: #161a30;
}

.travel {
  background-color: #bb9cc0;
}

.self-improvement {
  background-color: #e3651d;
}

.used-category-list > div {
  flex: 0 0 calc(20% - 5px); /* Adjust the width based on your design */
  box-sizing: border-box;
}

.used-category-list > div:last-child {
  flex: none; /* Adjust the width based on your design */
  box-sizing: border-box;
}

.card {
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #f6f6f6;
}

.card-title {
  font-weight: bold;
}

.dropdown-item {
  font-size: 12px !important;
}

.card-text {
  text-align: justify;
}

.card-footer {
  background-color: #fff;
  border: 0;
}

.task-done > span {
  font-weight: bold;
}

.todo-category {
  gap: 5px;
}
