@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  background-color: #fdfeff;
}

* {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

#task_name {
  font-weight: bold;
}

.category-list > div {
  margin-bottom: 10px;
}

.circle {
  height: 15px;
  width: 15px;
  border: none;
  border-radius: 50%;
}

.category-title {
  font-weight: 700;
}

.work {
  background-color: #d2ceff;
}

.study {
  background-color: #d1e5f7;
}

.entertainment {
  background-color: #ffcece;
}

.family {
  background-color: #daf2d6;
}

.used-category-list > div {
  flex: 0 0 calc(20% - 5px); /* Adjust the width based on your design */
  box-sizing: border-box;
}

.card {
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #f6f6f6;
}

.card-title {
  font-weight: bold;
}

.dropdown-item {
  font-size: 12px !important;
}

.card-text {
  text-align: justify;
}

.card-footer {
  background-color: #fff;
  border: 0;
}

.todo-category {
  gap: 5px;
}
